.content h3 {
  margin-top: 75px;
}
.content .first {
  margin-top: 0px;
}
.content hr {
  margin-bottom: 25px;
}

.space-50 {
  height: 50px;
  position: relative;
}

.space-10 {
  height: 10px;
  position: relative;
}

.space-5 {
  height: 5px;
  position: relative;
}

.space-20 {
  height: 20px;
  position: relative;
}

.space-35 {
  height: 35px;
  position: relative;
}

.btn-white a{
  color: #fff;
}

.first {
  margin-top: 0px;
}

pre.prettyprint{
    background-color: #eee;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 20px;
    text-align: left;
}
pre.prettyprint-2{
    background-color: #eee;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
    color: #3472F7;
}
.atn{
    color: #2C93FF;
}
.pln{
    color: #333;
}
.com{
    color: #999;
}
.space-top{
    margin-top: 50px;
}
.btn-primary .caret{
    border-top-color: #3472F7;
    color: #3472F7;
}
.area-line{
    border: 1px solid #999;
    border-left: 0;
    border-right: 0;
    color: #666;
    display: block;
    margin-top: 20px;
    padding: 8px 0;
    text-align: center;
}
.area-line a{
    color: #666;
}
.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
}
.table-shopping .td-name{
  min-width: 130px;
}

.header-links {
  color: #fff;
  text-align: center;
}
.header-links a {
  color: #fff;
}
.header-links a:hover {
  color: #fff;
}
.header-links li {
  padding: 5px;
  margin-right: 5px;
}


@media (-webkit-min-device-pixel-ratio: 1), (min--moz-device-pixel-ratio: 1), (-o-device-pixel-ratio: 1), (min-device-pixel-ratio: 1), (min-resolution: 1dppx), (min-resolution: 160dpi) {
  .logo {
    width: 15%;
    height:15%;
  }

  .logo2 {
    width: 30%;
    height:30%;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-device-pixel-ratio: 2 / 1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 380dpi) {
    .logo {
      width: 25%;
      height:25%;
    }

    .logo2 {
      width: 50%;
      height:50%;
    }
  }
