html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
  margin-top: 80px;
}

.navmenu .logo {
  padding: 11px 20px;
}

.navbar-small {
    text-align: right;
    background-color: #d1005d;
}
.navbar-small a {
  color: #fff;
}
.navbar-small .logo {
  position: absolute;
  top:11px;
  left: 20px;
}
.navbar-large {
    background-color: #fff;
    padding-left: 300px;
}
.navbar-large .search-area {
  text-align: left;
  }
.navbar-large .form-group {
    margin-top:5px;
}
.navbar-large .search-area i {
  color: #888;
}
.navbar-large a {
  color: #888;
}
.navbar {
  display: block;
}
.navbar-small .action-area {
  padding: 13px 15px;
  margin-top:0px;
  text-align: right;
}
.navbar-large .action-area {
  padding: 13px 15px;
  margin-top:0px;
  text-align: right;
}
.navbar-large .action-area .dropdown-toggle {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-large .action-area .dropdown-toggle:hover {
  text-decoration: none;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 70px;
  margin-top: 11px;
}
.navbar-toggle2{
  background-color: transparent;
  border:0px;
  color: #fff;
  position:absolute;
  margin-left: 185px;
  margin-top: 13px;
  vertical-align: middle;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }

}
